body {
    border: 13px solid lch(8.27% 18.47 142.32);
    padding: 20px;

    margin: 20px;

    background-size: cover;
    background-color: #f2f1f4;
    text-align: center;
    font-family: Arial, sans-serif;
    text-decoration: none;
}